  /* колір силок   #2E2F42 */
  /* колір номера#434455 */
  /* колір кнопок #4D5AE5 */

  :root {
    --primary-text-color: #434455;
        --title-text-color: #2E2F42;
        --accent-color: #4D5AE5;
        --primary-white-color:#FFFFFF;
  }
 body{
    color:  #434455;
 }
  .logo{
    color:var(--title-text-color) ;
  }
  span{
    color: var(--accent-color);
    
  }
  .list,
  .items{
    list-style: none;

  }
  .site-nav .link{
    color:var(--title-text-color) ;
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
    color:var(--accent-color) ;
  }
  .site-addres a{
color: var(--primary-text-color);
  }
  .site-addres .link:hover,
  .site-addres .link:focus {
    color:var(--accent-color) ;
  }
  .button{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
  .section-title{
    color: var(--title-text-color) ;
  }
  .feature-list .title{
    color:  var(--title-text-color);
  }
  .work-list .title{
    color: var(--title-text-color);
  }
  .